.todo-add {
    display: grid;
    grid-template-columns: 1fr .5fr 60px;
    gap: 12px 10px;
    align-items: center;
    margin-bottom: 20px;
}

.todo-add input {
    outline: none;
    width: 100%;
    border: 1px solid transparent;
    background: #EBEFF2;
    border-radius: 5px;
    padding: 14px 18px;
    font-size: 16px;
    line-height: 19px;
    color: #544f4f;
    transition: border-color .2s ease;
}

.todo-add input::placeholder {
    color: #888888;
}

@media (any-hover: hover) {

    .todo-add input:hover,
    .todo-add input:focus {
        border-color: #888888;
    }
}

.todo-add button {
    background: #20EEB0;
    border-radius: 5px;
    padding: 15px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 19px;
    color: #fff;
    transition: background .2s ease;
}

.todo-add button:hover {
    background: #1BCF8F;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}